@tailwind base;
@tailwind components;
@tailwind utilities;

/* Añade cualquier estilo global base aquí */
html, body {
  @apply bg-gray-50 text-gray-900;
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
}